{% extends 'base.html.twig' %}

{% block title %}all users{% endblock %}

{% block body %}
    {% for message in app.flashes("success") %}
        <p class="alert alert-success">{{ message }}</p>
        <br>
    {% endfor %}
    <table class="table" style="background-color: #5ed1e0">
        <thead>
        <tr>
            <th scope="col">username</th>
            <th scope="col">password</th>
            <th scope="col">city</th>
        </tr>
        </thead>
        <tbody>
        {% for uer in users %}
            <tr>

                <td>{{ uer.getUsername() }}</td>
                <td>{{ uer.getPassword() }}</td>
                <td>{{ uer.getCity().getName() }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
